profiles {
  local {
    process.executor = 'local'
    docker.enabled   = false
  }

  omics {
    // HealthOmics will provide Batch & S3 settings; keep this minimal.
    docker.enabled       = true
    process.container    = params.container
    timeline {
      enabled = true
      file    = "${params.outdir}/timeline.html"
    }
    report {
      enabled = true
      file    = "${params.outdir}/report.html"
    }
    trace {
      enabled = true
      file    = "${params.outdir}/trace.txt"
    }
    dag {
      enabled = true
      file    = "${params.outdir}/dag.dot"
    }
  }
}

params {
  // Defaults can be overridden by HealthOmics run parameters
  alphabet = 'ACGTN'
  log_freq = 1000
  outdir   = 'results'
}
